

body { justify-content: center;
	align-items: center;
  background-image: url('../css/img/25.jpg');
  margin: 0 auto;
  font-family: Andale Mono, monospace;
}

h1{ font-family: Andale Mono, monospace;
	font-weight: 300;

	font-style: oblique; ;
	text-align: center;
	margin-top: 40px;
	color: #8B3AB3;
}
h2{font-weight :400 ;
	text-align: center;
	margin: 0 auto;

}


a { text-decoration: none; }

main { width: 85%;
margin:  0 auto;
text-align: justify;
}

.bg { font-family: Andale Mono, monospace;
	font-weight: 700;
	font-style: oblique;
	background-color: #e14e14 ;
	height: 70px;
	text-align: right;

	 }

.li1 {
  display: inline-block;
	padding: 13px;
	color: 	#6497b1 ;
	font-size: 25px;
	position:  relative;
	top: 4px;
	margin-left: 50px;
	text-align: right;
	 }

.li1 a:hover {
  background-color: #ddd;
	  color: black; }
	  
	  .footer1{
	  	margin: 0px;
	  }

footer {
  background: #ff7400 ;
	text-align: center;
	height: 40px;
    font-size: 30px
    /*padding-top:  60px;*/
    position:fixed; 
    top: 95%;
}

.container { 
	background-color: #FFF68F ;
	background: rgba(255,	246	,143, 0.48);

	margin-top:0;
	margin-left: 350px ;
	 margin-bottom: 0 ;
	  margin-right: 350px;
	  font-family: Andale Mono, monospace;
	  font-size: 20px;
}

table
 { font-family: sans-serif;
 	background-color: #FFF68F ;
	background: rgba(255,	246	,143, 0.48);
	border: 3px  solid #FF7F50;
 	border-radius: 21
 	width: 50%;
border-collapse: separate;
border-spacing: 5px;
margin: 0 auto;
text-align: left;
}
	
	th{
		width: 400px;
		font-size: 18px;
		padding: 15px;
	}
	td{ padding: 15px;
		background-color:#FFA584;
		background: rgba(255,165,132, 0,55) ;
		
		}
	.containertext { 
		

		
		display: flex;
		flex-wrap:  wrap;
	  justify-content: space-around;
	}

	
	.pictures img{ display: flex;
	
	}
	
	.content1 {
		
		

	width: 28%;
	margin-right: 10px;
	margin-top: 30px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
;}
	

